@model UnitConverterViewModel
@{
	  Layout = "_EndingPageLayout";
  }
<p>@Model.InputValue @Model.Operator equals @Model.Result</p>
<p class="lead"><a href = "Convert/"> Return to Conversion Form</a></p>